@import url("https://fonts.googleapis.com/css?family=Raleway");
.left-adjust h1 {
  color: #002554;
  font-size: 3rem;
  font-family: "Raleway", sans-serif; }

.contain {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #002554; }

.right-adjust img {
  width: 100%; }

/*---------Breakpoint 1 --------Tablet View------------------*/
@media all and (min-width: 650px) {
  .left-adjust h1 {
    font-size: 4rem;
    margin-left: 0.5rem; }
  .contain {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 2rem; } }

/*------------Breakpoint 2-----------Desktop----------------------------- */
h1 {
  color: #002554;
  font-size: 3rem;
  text-align: left; }

h2 {
  font-size: 2rem;
  color: #DBE2E9;
  padding-left: 100px; }

/*Breakpoint 1 */
@media all and (min-width: 650px) {
  h1 {
    font-size: 4rem;
    margin-left: 0.5rem; }
  h2 {
    font-size: 1.5rem;
    color: #DBE2E9;
    margin-top: 3rem; }
  /*Breakpoint 2 */ }

h2 {
  color: #002554;
  font-size: 3rem;
  font-family: "Raleway", sans-serif; }

.contact-img .img {
  width: 100%; }

fieldset {
  margin: 0 auto;
  padding: 5px;
  border: none;
  width: 100%;
  color: #7D9BC1; }

#firstname,
#lastname {
  position: relative;
  margin: 0 auto 10px;
  width: calc(100% / 2 - 3px);
  border: 1px solid #DBE2E9;
  border-radius: 3px;
  margin-bottom: none;
  color: #7D9BC1; }

.name {
  margin-bottom: 5px; }

#email,
#subject,
textarea {
  border-radius: 3px;
  width: 100%;
  border: 1px solid #DBE2E9; }

input[type="text"],
textarea {
  margin-top: 5px; }

input[type="submit"] {
  color: #CED9E5;
  font-size: 1rem;
  background-color: #7D9BC1;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  text-transform: uppercase;
  cursor: pointer; }

input[type="submit"]:hover {
  background: #A7BCD6;
  color: #002554; }

/*---------Breakpoint 1 --------Tablet View------------------*/
@media all and (min-width: 650px) {
  h2 {
    font-size: 4rem;
    text-align: left;
    padding: 0px;
    margin-left: 0.5rem; }
  fieldset {
    width: 90%; }
  input[type="submit"] {
    margin-left: 2.6rem; }
  .contact-img .img {
    width: 100%; } }

/*------------Breakpoint 2-----------Desktop----------------------------- */
@media all and (min-width: 950px) {
  .contact-img .img {
    float: right;
    width: 50%; }
  fieldset {
    float: left; } }

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  background-color: #CED9E5; }

.bg-light {
  background-color: #CED9E5 !important; }

a:hover {
  background-color: #DBE2E9 !important; }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.text-container {
  position: relative;
  text-algin: center;
  color: #CED9E5; }

.text-centered {
  position: absolute;
  font-size: 60px;
  letter-spacing: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-centered .text-centered {
  postion: absolute;
  font-size: 60px;
  letter-spacing: 5px;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%); }

.upsidedown-container {
  position: relative;
  text-align: center;
  color: #CED9E5;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); }

.text-upsidedown {
  position: absolute;
  font-size: 60px;
  letter-spacing: 2px;
  bottom: 30%;
  left: 10%; }

.text-upsidedown .text-upsidedown {
  position: absolute;
  font-size: 60px;
  bottom: -60%;
  left: -4%; }

/*---------Breakpoint 1 --------Tablet View------------------*/
@media all and (min-width: 650px) {
  img {
    width: 90%; }
  .text-centered {
    font-size: 108px; }
  .text-centered .text-centered {
    font-size: 101px; }
  .text-upsidedown {
    font-size: 100px;
    letter-spacing: 10px;
    left: 6%; }
  .text-upsidedown .text-upsidedown {
    font-size: 105px;
    letter-spacing: 3px; }
  footer {
    display: none; } }

/*------------Breakpoint 2-----------Desktop----------------------------- */
@media all and (min-width: 950px) {
  img {
    width: 90%;
    height: 755px; }
  .text-centered {
    font-size: 210px;
    letter-spacing: 31px; }
  .text-centered .text-centered {
    font-size: 200px;
    letter-spacing: 19px; }
  .upsidedown-container {
    display: none; } }
