@import url("https://fonts.googleapis.com/css?family=Raleway");
.left-adjust {
  background-color: #CED9E5;
  width: 50%;
  height: 780px;
  float: left; }
  .left-adjust h1 {
    font-size: 5rem; }
  .left-adjust p, .left-adjust h1 {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem; }

.right-adjust {
  float: right; }

h1 {
  color: #DBE2E9;
  font-size: 5rem;
  margin: 0; }

h2 {
  font-size: 3rem;
  color: #DBE2E9;
  padding-left: 100px; }

/* Nav Bar Elements */
a {
  color: #DBE2E9;
  padding: 5px;
  font-size: 0.85rem;
  cursor: pointer;
  text-decoration: none; }

ul {
  list-style-type: none;
  padding: 3px;
  margin: 0;
  overflow: hidden;
  text-align: right; }

a:hover {
  background-color: #003A70; }

/*Breakpoint 1 */
@media all and (min-width: 650px) {
  a {
    color: #DBE2E9;
    padding: 8px;
    font-size: 1rem;
    cursor: pointer; }
  /*Breakpoint 2 */ }

@media all and (min-width: 950px) {
  a {
    color: #DBE2E9;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer; } }

.form-container {
  background-color: black;
  width: 700px;
  height: 500px; }

fieldset {
  margin: 0 auto;
  padding: 5px;
  border: none;
  width: 100%;
  font-family: Helvetica;
  color: #4a596b; }

#firstname,
#lastname {
  position: relative;
  margin: 0 auto 10px auto;
  width: calc(100% / 2 - 3px);
  border: 1px solid #ecede7;
  border-radius: 3px;
  margin-bottom: none; }

.name {
  margin-bottom: 5px; }

#subject,
#email,
textarea {
  border-radius: 3px;
  width: 100%;
  border: 1px solid #ecede7; }

input[type="text"],
textarea {
  margin-top: 5px; }

input[type="submit"] {
  font-family: Helvetica;
  color: #4a596b;
  font-size: 0.667rem;
  background-color: #ecede7;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  text-transform: uppercase;
  cursor: pointer; }

input[type="submit"]:hover {
  background: #092341;
  color: #ecede7; }

body {
  font-family: "Raleway", sans-serif;
  margin: 0; }

.home {
  background-color: #CED9E5; }

.about {
  background-color: #A7BCD6; }

.contact {
  background-color: #7D9BC1; }

.portfolio {
  background-color: #002554; }

.bg-light {
  background-color: #CED9E5 !important; }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.text-container {
  position: relative;
  text-algin: center;
  color: #CED9E5; }

.text-centered {
  position: absolute;
  font-size: 60px;
  letter-spacing: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-centered .text-centered {
  postion: absolute;
  font-size: 60px;
  letter-spacing: 5px;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%); }

.upsidedown-container {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); }

/*Breakpoint 1 */
@media all and (min-width: 650px) {
  /*Breakpoint 2 */ }
