@import "variables";
// -------------Mobile View------------------------------
.left-adjust {
  margin: 0 auto;

}
h1 {
  p {
    color: $aboutblue;
    padding: 2px;
  }
  text-align: center;
}
/*---------Breakpoint 1 --------Tablet View------------------*/

@media all and (min-width: 650px) {








}

/*------------Breakpoint 2-----------Desktop----------------------------- */

@media all and (min-width: 950px) {






}
