@import "variables";
// -------------Mobile View------------------------------
.left-adjust h1 {
    color: $portfolioblue;
    font-size: 3rem;
    font-family: $fonts-text;
}

.contain {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: $portfolioblue;
}

.right-adjust img {
  width: 100%;
}

/*---------Breakpoint 1 --------Tablet View------------------*/

@media all and (min-width: 650px) {

.left-adjust h1 {
  font-size: 4rem;
  margin-left: 0.5rem;
}

.contain {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}



}

/*------------Breakpoint 2-----------Desktop----------------------------- */

@media all and (min-width: 950px) {

  .left-adjust h1 {
    font-size: 5rem;
    margin-left: 0.5rem;
    position: absolute;
  }

  .contain {
    float: left;
    margin-top: 10rem;
    width: 400px;
    margin-left: 4rem;
  }

  .right-adjust img {
    position: relative;
    float: right;
    width: 60%;
  }





}
