@import "variables";

// -------------------Mobile View--------------------------

h2 {
    margin-left: 1rem;
    color: $contactblue;
    padding: 5px;
    text-align: center;
    font-family: $fonts-text;
}
 img {
   width: 100%;
 }

.border-1 {
    border-bottom: 1px solid $titleblue;
    bottom: 20px;
}

fieldset {
    margin: 0 auto;
    padding: 5px;
    border: none;
    width: 100%;
    color: $contactblue;
}


#firstname,
#lastname {
    position: relative;
    margin: 0 auto 10px auto;
    width: calc(100% / 2 - 3px);
    border: 1px solid $titleblue;
    border-radius: 3px;
    margin-bottom: none;
    color: $contactblue;

}

.name {
    margin-bottom: 5px;
}

#subject,
#email,
textarea {
    border-radius: 3px;
    width: 100%;
    border: 1px solid $titleblue;

}

input[type="text"],
textarea {
    margin-top: 5px;
}

input[type="submit"] {
    color: $homeblue;
    font-size:1rem;
    background-color: $contactblue;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: $aboutblue;
    color: $portfolioblue;
}
