@import "variables"; // -------------------Mobile View--------------------------

h2 {
  color: $portfolioblue;
  font-size: 3rem;
  font-family: $fonts-text;
}

.contact-img .img {
  width: 100%;
}

fieldset {
  margin: 0 auto;
  padding: 5px;
  border: none;
  width: 100%;
  color: $titleblue;
}

#firstname,
#lastname {
  position: relative;
  margin: 0 auto 10px;
  width: calc(100% / 2 - 3px);
  border: 1px solid $titleblue;
  border-radius: 3px;
  margin-bottom: none;
  color: $titleblue;
}

.name {
  margin-bottom: 5px;
}

#email,
#subject,
textarea {
  border-radius: 3px;
  width: 100%;
  border: 1px solid $titleblue;
}

input[type="text"],
textarea {
  margin-top: 5px;
}

input[type="submit"] {
  color: $homeblue;
  font-size: 1rem;
  background-color: $contactblue;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: $aboutblue;
  color: $portfolioblue;
}
/*---------Breakpoint 1 --------Tablet View------------------*/
@media all and (min-width: 650px) {
  h2 {
    font-size: 4rem;
    text-align: left;
    padding: 0;
    margin-left: 0.5rem;
  }

  fieldset {
    width: 90%;
  }

  input[type="submit"] {
    margin-left: 2.6rem;
  }

  .contact-img img {
    width: 100%;
  }
}
/*------------Breakpoint 2-----------Desktop----------------------------- */
@media all and (min-width: 950px) {
  h2 {
    position: absolute;
  }

  .contact-img img {
    float: right;
    width: 60%;
    height: 755px;
  }

  .form-container {
    margin-top: 15rem;
    float: left;
    width: 40%;
    background-color: $contactblue;
  }
  input[type="submit"] {
    margin-left: 2.0rem;
  }


}
