@import "variables";
// -------------------Mobile View--------------------------
h2 {
  color: $portfolioblue;
  font-size: 3rem;
  font-family: $fonts-text;
}

.contact-img .img {
  width: 100%;
}

fieldset {
  margin: 0 auto;
  padding: 5px;
  border: none;
  width: 100%;
  color: $contactblue;
}

#firstname,
#lastname {
  position: relative;
  margin: 0 auto 10px;
  width: calc(100% / 2 - 3px);
  border: 1px solid $titleblue;
  border-radius: 3px;
  margin-bottom: none;
  color: $contactblue;
}

.name {
  margin-bottom: 5px;
}

#email,
#subject,
textarea {
  border-radius: 3px;
  width: 100%;
  border: 1px solid $titleblue;
}

input[type="text"],
textarea {
  margin-top: 5px;
}

input[type="submit"] {
  color: $homeblue;
  font-size: 1rem;
  background-color: $contactblue;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: $aboutblue;
  color: $portfolioblue;
}
/*---------Breakpoint 1 --------Tablet View------------------*/
@media all and (min-width: 650px) {
  h2 {
    font-size: 4rem;
    text-align: left;
    padding: 0px;
    margin-left: 0.5rem;
  }

  fieldset {
    width: 90%;
  }

  input[type="submit"] {
    margin-left: 2.6rem;
  }

  .contact-img .img {
    width: 100%;
  }
}
/*------------Breakpoint 2-----------Desktop----------------------------- */
// @media all and (min-width: 950px) {
//
//   .text-container,
//      form {
//          float: left;
//          width: calc(50% - 1rem);
//          margin: 0 auto;
//
//      }
//
//      .form-container {
//          font-size: 0.7rem;
//          margin: 1rem;
//          padding: 0.5rem;
//      }
//
//      .border-1 {
//          width: 406px;
//          margin-left: 18px;
//      }
//
//      .text-container p {
//          margin-right: calc(35% - 2.5rem);
//      }
//
//
//      input[type="submit"] {
//          font-size: 0.79rem;
//          padding: 10px 10px;
//      }
//
//      .back-button {
//          font-size: 0.7rem;
//      }
//
//  }
//
//
//
//
// }
