@import "variables";

h1 {
  color: $titleblue;
  font-size: 5rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
  color: $titleblue;
  padding-left: 100px;
}


/*Breakpoint 1 */

@media all and (min-width: 650px) {


/*Breakpoint 2 */

}

@media all and (min-width: 950px) {



}
