@import "variables";

// ------------------Mobile View------------------

h1 {
  color: $portfolioblue;
  font-size: 3rem;
  text-align: left;
}

h2 {
  font-size: 2rem;
  color: $titleblue;
  padding-left: 100px;
}


/*Breakpoint 1 */

@media all and (min-width: 650px) {


/*Breakpoint 2 */

}

@media all and (min-width: 950px) {



}
