// Colours
$homeblue: #CED9E5;
$aboutblue: #A7BCD6;
$portfolioblue: #002554;
$contactblue: #7D9BC1;
$currentblue: #003A70;
$titleblue: #DBE2E9;


$fonts-text: 'Raleway', sans-serif;
// $fonts-text: 'Raleway', sans serif;
