@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "variables";
@import "about";
@import "portfolio";
@import "contact";

// Common Elements for all pages: Font and Nav Bar

body {
  font-family: $fonts-text;
  margin: 0;
}
// -------------Each page has a different background colour
.home {
  background-color: $homeblue;
}
 .about {
  background-color: $aboutblue;
}
.contact {
  background-color: $contactblue;
}
.portfolio {
  background-color: $portfolioblue;
}

// ------------------Mobile View------------------------------
.bg-light {
  background-color: $homeblue!important;
}
// Main Image on Home Page
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

// Main Title Properties
.text-container {
  position: relative;
  text-algin: center;
  color: $homeblue;
}

.text-centered {
  position: absolute;
  font-size: 60px;
  letter-spacing: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-centered .text-centered {
  postion: absolute;
  font-size: 60px;
  letter-spacing: 5px;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upsidedown-container {
  -webkit-transform:rotate(-180deg);
-moz-transform:rotate(-180deg);
-o-transform:rotate(-180deg);
transform:rotate(-180deg);
ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);

}


/*Breakpoint 1 */

@media all and (min-width: 650px) {


/*Breakpoint 2 */

}

@media all and (min-width: 950px) {


}
